*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
}

/*NAVBAR*/
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100px;
    /* background-color: #eee; */
}
.navbar-tags{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    height: 50px;
    width: 800px;
    /* background-color: aqua; */
    /* right: 10px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
}
.navbar-tags p{
    cursor: pointer;
    transition: 300ms;
}
.navbar-tags p:hover{
    color: rgba(245, 245, 245, 0.722);
}
.navbar-tags a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.navbar-tags a:hover{
    color: rgba(245, 245, 245, 0.722);
}
#call-icon{
    margin-right: 10px;
}

/*BODY*/
.body-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 500px;
    /* background-color: bisque; */
    top: 120px;
}
.body-container h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 60px;
    margin-top: -100px;
    font-weight: 700;
}
.body-container h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 60px;
    margin-top: -100px;
    margin-left: 15px;
    font-weight: 700;
    color: rgb(255, 187, 0);
}
.body-container p{
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 15px;
    width: 50%;
    height: 100px;
    /* background-color: aqua; */
    font-weight: 400;
    text-align: center;
    top: 245px;
}
.social-box01{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 120px;
    height: 50px;
    /* background-color: aqua; */
    top: 350px;
    color: rgb(245, 245, 245);
    font-size: 18px;
}

/*ABOUT-CONTAINER*/
.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 800px;
    /* background-color: rgba(0, 255, 255, 0.196); */
    top: 600px;
}
.about-container h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 187, 0);
    font-size: 25px;
    font-weight: 600;
    margin-top: -400px;
}
.about-container hr{
    position: absolute;
    width: 70px;
    border:  1px solid rgb(255, 187, 0);
    top: 225px;
}
.about-card{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 600px;
    /* background-color: white; */
    top: 250px;
}
.about-card img{
    width: 317px;
    border-radius: 10px;
    margin-left: -30%;
}
.about-description{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 500px;
    height: 500px;
    /* background-color: cadetblue; */
    margin-left: 25%;
}
.about-description h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -350px;
    font-size: 30px;
    font-weight: 600;
    color: white;
}
.about-description h4{
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -280px;
    font-size: 20px;
    margin-left: -205px;
    font-weight: 600;
}
.about-description p{
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 380px;
    margin-left: 40px;
    margin-top: -100px;
    color: white;
    font-weight: 100;
}
.personal-details{
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 500px;
    height: 200px;
    /* background-color: antiquewhite; */
    margin-top: 220px;
}
.personal-details h5{
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding-left: 80px;
}
.about-description button{
    position: absolute;
    width: 100px;
    height: 30px;
    background-color: rgb(255, 187, 0);
    border: none;
    border-radius: 5px;
    color: #000000;
    bottom: 10px;
    left: 80px;
    transition: 400ms;
}
.about-description button:hover{
    background-color: rgba(206, 152, 3, 0.808);
    cursor: pointer;   
}

/*BLOGS-CONTAINER*/
.blogs-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 800px;
    /* background-color: #024a53; */
    top: 1410px;
}
.blogs-container h1{
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 187, 0);
    font-size: 25px;
    font-weight: 600;
    margin-top: -350px;
}
.blogs-container hr{
    position: absolute;
    width: 40px;
    border:  1px solid rgb(255, 187, 0);
    top: 250px;
}
.pad-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 400px;
    /* background-color: aqua; */
    top: 350px;
}
.pad-container div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    transition: 400ms;
}
.pad-container div:hover{
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    scale: 1.02;
}
.pad01 i{
    font-size: 50px;
    color: rgb(255, 187, 0);
}
.pad02 i{
    font-size: 50px;
    color: rgb(255, 187, 0);
}
.pad03 i{
    font-size: 50px;
    color: rgb(255, 187, 0);
}
.pad04 i{
    font-size: 50px;
    color: rgb(255, 187, 0);
}


/*FOOTER_CONTAINER*/
.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 400px;
    /* background-color: #eeeeee1d; */
    top: 2250px;
}
.footer-container h3{
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 187, 0);
    font-size: 25px;
    font-weight: 600;
    margin-top: -150px;
}
.footer-container p{
    position: absolute;
    width: 80%;
    color: white;
    font-size: 12px;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.footer-container h6{
    position: absolute;
    color: rgba(255, 255, 255, 0.201);
    font-size: 10px;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    bottom: 30px;
}